/* Plik: /src/components/ScrollStack/ScrollStack.css */

.scroll-stack-scroller {
  position: relative;
  width: 100%;
  height: 100%;
  /* === MUSI BYĆ HIDDEN === */
  overflow-y: hidden;
  overflow-x: hidden;
  
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.scroll-stack-inner {
  /* Ten padding jest OK, zostanie nadpisany przez Gramophone.css */
  padding: 20vh 5rem 50rem;
  min-height: 100vh;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.scroll-stack-card {
  transform-origin: top center;
  will-change: transform, filter;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  height: 20rem;
  width: 100%;
  margin: 30px 0;
  padding: 3rem;
  border-radius: 40px;
  box-sizing: border-box;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  position: relative; /* Ważne dla z-index */
  background-color: #fff;
  border: 1px solid #ddd;
}

.scroll-stack-end {
  width: 100%;
  height: 100vh;
}