/* Plik: /src/components/CloudTransition/CloudTransition.css */

.cloud-transition-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; 
  z-index: 20; 
}

.white-block {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%; 
  background-color: #ffffff;
  /* Celowo zostawiamy overflow: visible,
     aby obrazek-dziecko mógł "wystawać"
  */
}

.cloud-image {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%; /* <-- DOSTOSUJ TĘ WARTOŚĆ */
  object-fit: cover;
  will-change: transform;
}

/* Logika dla Lewego Panelu: [Blok Biały | Odwrócona Chmura] */
/* (Ta klasa była poprawna i zostaje bez zmian) */
.cloud-image-left {
  /* Przyklejamy do PRAWEJ (wewnętrznej) krawędzi */
  right: 0;
  
  /* Obracamy (Chmury | Pusto) i wypychamy w "lewo" 
     (co na ekranie daje ruch W PRAWO, do środka) */
  transform: scaleX(-1) translateX(-99%);
}

/* === POPRAWIONY KOD === */

/* Logika dla Prawego Panelu: [Chmura | Blok Biały] */
.cloud-image-right {
  /* Przyklejamy do LEWEJ (wewnętrznej) krawędzi */
  left: 0;
  
  /* KROK 1: TEGO BRAKOWAŁO */
  /* Obracamy obrazek (Chmury | Pusto) */
  transform: translateX(-99%);
  
  /* KROK 2: ZMIANA KIERUNKU */
  /* Przesuwamy obrócony obrazek w "prawo" 
     (co na ekranie daje ruch W LEWO, do środka) */
}